$primary: hsl(225, 100%, 94%);
$box_color: hsl(225, 100%, 98%);
$summary: hsl(223, 47%, 23%);
$text: hsl(224, 23%, 55%);
$footer: hsl(228, 45%, 44%);
$plan: hsl(225, 100%, 97%);
$change:hsl(245, 75%, 52%);
$white:#fff;